*.idea
target
*.iml
*.ipr
*.iws
.classpath
.project
.settings
bin/.idea
org.eclipse.jdt.core.prefs
org.maven.ide.eclipse.prefs
Upender.txt
couchdb.stderr
couchdb.stdout
.DS_Store
copy2MyLocalMachine
.ebean.oracle.autofetch
logs/autofetch*.csv
logs/oracle_trans*.log
bin/.idea
.idea
copy2uglocal.jetty
glob:META-INF/MANIFEST.MF
management/match-maker/manager/impl/air@havana.realtime.dk
war/output_data
war/test-output
*/test-output/*
